QPushButton {
    background-color: white;
    border-style: outset;
    border-width: 2px;
    border-radius: 8px;
    border-color: gray;
    padding: 10px;
    margin-top: 5px;
    font: bold 14px;
    min-width: 200px;
    max-width: 200px;
}

QPushButton:pressed {
    border-style: inset;
}

QPushButton:hover {
    background-color: lightgray;
}

QLabel#container-label {
    font: bold 15px;
}

#display-box{
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}